@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: "Roboto", sans-serif;
}
body{
    padding: 0;
    margin: 0;
    background-color: white;
    button{
        cursor: pointer;
    }
}
.header .nav{
    width: 100%;
    height: 90px;
    display: flex;
}
.header .nav .logo{
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 200px;
    font-size: 30px;
}
.header .nav .btn{
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 175px;
    
}
.header .nav .btn .navbtn{
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}
.mainbody{
    height: 90vh;
    background-image: url("../images/Hero-bg.png");
    display: flex;
    align-items: center;
    flex-direction: column;
}
.mainbody .logo{
    margin-top: 15px;
}
.mainbody .boldpara{
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
}
.mainbody .normalpara{
    font-size: 1.3rem;
    font-weight: 300;
    text-align: center;
    margin-top: -10px;
}
.mainbody .mainbodybtn{
    font-size: 1.7rem;
    padding: 17px 10px;
    border-radius: 10px;
    background-color: black;
    color: white;
    margin-top: 10px;
}
.secondbody{
    height: 200vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(236, 228, 228);
    margin: 100px;

}
.secondbody .para1{
    font-size: 1.6rem;
    text-align: center;
}
.secondbody .firstchild{
    display: flex;
    height: 400px;
    width: 946px;
    background-color: whitesmoke;
    margin: 1rem;
    border-radius: 8px;
}
.secondbody .firstchild .firstchildfirstson{
    width: 60%;
    padding: 3rem 6rem;
}

.secondbody .firstchild .firstchildsecondson{
    width: 40%;
}
.firstchildfirstson h3{
    font-size: 2rem;
    word-spacing: 8px;
}
.firstchildfirstson p{
    font-weight: 300;
    font-size: 1.5rem;
}
.firstchildfirstson button{
    font-size: 1.7rem;
    padding: 13px 1rem;
}
.firstchildsecondchild{
    display: flex;
    justify-content: center;
    align-items: center;
}
.thirdbody{
    margin-top: -20px;
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.thirdbody h1{
    font-size: 2.5rem;
}
.thirdbody p{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 250;
}
.thirdbody iframe{
    height: 700px;
    width: 1000px;
    padding: 1rem;
    border: 1.5px solid gray;
}
.fourthbody{
    margin-top: 10rem;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    background-color: aliceblue;
    height: 60vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.fourthbody .para2{
    text-align: center;
}
.fourthbody .cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    margin: 0 1rem;
}
.fourthbody .cards button{
    font-size: 1.2rem;
    border-radius: 6px;
    border: none;
    text-decoration: underline;
}
.fourthbody .card1{
    background-color: #77E4C8;
}
.fourthbody .card1 button{
    background-color: #77E4C8;
}

.fourthbody .card2{
    background-color: #36C2CE;
}
.fourthbody .card2 button{
    background-color: #36C2CE;
}
.fourthbody .card3{
    background-color: #478CCF;
}
.fourthbody .card3 button{
    background-color: #478CCF;
}
.fourthbody .cards .card1,.card2,.card3{
    
    padding: 2rem;
    border-radius: 15px;
}
.fifthbody{
    height: 80vh;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 10rem;
    background-color: rgb(233, 237, 237);
    border-radius: 10px;
    padding-top: 3rem;
    
}
.fifthbody h1{
    display: flex;
    justify-content: center;
}
.fifthbody button{
    font-size: 1.1rem;
    text-decoration: underline;
    font-weight: 700;
    border: none;
}
.fifthbody .para3{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fifthbody .card1 .twoparts{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.fifthbody .card1 .twoparts .img img{
    display: flex;
    justify-items: center;
    align-items: center;
    
}
.fifthbody .card1{
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px 20px;
    padding-bottom: 1rem;
    border-radius: 10px;

}

.sixthbody{
    margin-top: 5rem;
    background-color: aqua;
    height: 60vh;
    margin: 0 200px;
    border-radius: 10px;
    background-image: url("../images/handshake.jpg");
    background-size: 100% auto;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sixthbody p{
    text-align: center;
}
.sixthbody .inpbtn{
    height: 70px;
    width: 500px;
    gap: 1rem;
}
.sixthbody input{
    width: 64%;
    height: 50px;
    font-size: 17px;
    border-radius: 10px;
    outline: none;
    padding-left: 2rem;
}
.sixthbody button{
    width: 27%;
    height: 55px;
    font-size: 18px;
    border-radius: 10px;
}
footer{
    margin-top: 2rem;
    width: 100%;
    height: 70px;
    background-color: rgb(229, 225, 225);
    display: flex;
    

}
footer h2{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .logo{
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    margin-right: 5rem;
}
